h1{
    padding-top: 10px;
    padding-bottom: 10px;
    /*text-align: center;*/
    margin: 0 auto;
    display: inline-block;
    border: 1px solid yellow;
}
div{
    text-align: center;
}

nav li { 
    display: inline;
    margin: 155px;
    color: blue;
    }

  body{
    background-color:lightseagreen;
     }   
    
     /*p{
         float: left;
         display: inline-block;
     }
       img{
        display: inline-block;
        float: right;
        width: 500px;
        height: 300px;
        
         }*/

         img{
             width: 500px;
             height: 300px;
         }
         .left{
             width: 40%;
             float: left;
         }
         .right{
             width: 40%;
             float: right;
         }
         .clearfix{
             clear: both;
         }
     footer{
        text-align: center;
        border: 1px solid red;
        height: 100px;
        width: 100%;
     }